<style>

body {background-color: aliceblue;
    font-family: 'Comfortaa';
    }

h1 {text-align: center;
    font-family: "Comfortaa";
    background-color: #c37aff ;
    color: darkblue;
    line-height: 200%;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin: auto;}

h3 {text-align: center;
    font-family: 'Comfortaa';
    color: darkblue;
    font-weight: lighter;}

p {text-align: center;
    font-family: 'Comfortaa';
    color: rgb(255, 0, 195);
    font-weight: lighter;}


ul {font-family: 'Comfortaa';}

ol {font-family: 'Comfortaa';}

hr {height: 2px;
    background-color: darkblue;}

#second {height: 1px;
    background-color: darkblue;}

h2 {font-family: 'Comfortaa';
    font-weight: bold;
    text-align: center;
    color: darkblue;}

img {border: 2px solid darkblue;
    box-shadow: 10px 10px rgba(0, 0, 0, 25%);
    border-radius: 50px;}

</style>